@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GroupDocs.Demo.Annotation.Mvc
@using GroupDocs.Annotation.Domain;
@using GroupDocs.Demo.Annotation.Mvc.Options

@(Html.Annotation()
    .ElementId("annotation-widget")
    .FilePath("Quick_Start_Guide_To_Using_GroupDocs.pdf")
    .ShowZoom(true)
    .ShowPaging(true)
    .ShowThumbnails(true)
    .OpenThumbnails(false)
    .PreloadPageCount(3)
    .EnableRightClickMenu(true)
    .ShowFileExplorer(true)
    .Tools(AnnotationTools.All)
    .ShowHeader(true)

    .ClickableAnnotations(true)
    .ShowFileExplorer(true)
    .AccessRights(AnnotationReviewerRights.All))
    <div id="annotation-widget" class="GroupDocs_viewer_wrapper grpdx" style="width: 100%; height: 100%;">
</div>
